services:
  backend:
    restart: unless-stopped
    build: .
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_HOST: host.docker.internal
      DB_USER: root
      DB_PASSWORD: 154254693feli
      DB_NAME: ariel2db
      CORS_ORIGIN: http://localhost:3000
    volumes:
      - .:/app
    working_dir: /app
    command: npm run dev
