/* src/styles.css */
.custom-button {
  border: 1px solid blue; /* Borde azul */
  color: black; /* Texto azul */
  background-color: transparent; /* Fondo transparente */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.custom-button:hover {
  background-color: blue; /* Fondo azul al hacer hover */
  color: white; /* Cambia el color del texto a blanco al hacer hover */
}
